Source/Sitecore.Mvc.Areas/obj/
Source/Sitecore.Mvc.Areas/bin/
Source/Sitecore.Mvc.Areas.Unity/bin/
Source/Sitecore.Mvc.Areas.Unity/obj/
Settings.StyleCop
Source/AreasWebsite/obj/
Source/AreasWebsite/bin/
