@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore MVC Areas</title>
    <link href="/default.css" rel="stylesheet" />
</head>
<body>
    <div id="MainPanel">
        <div id="CenterColumn">
            @Html.Sitecore().Placeholder("centercolumn")
        </div>
    </div>
</body>
</html>
