@model AreasWebsite.Areas.FiftyOne.Models.ContentViewModel
<div id="Content">
    <div>
        <h1>
            @Model.Title
        </h1>
        <div>
            @Model.Text
        </div>
        <div>
            @Model.AdditionalContent
        </div>
    </div>
</div>
